<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @section.number %>
</p>

<p>
  <strong>Course:</strong>
  <%= @section.course_id %>
</p>

<p>
  <strong>Course by prof:</strong>
  <%= @section.course_by_prof_id %>
</p>

<p>
  <strong>Quarter:</strong>
  <%= @section.quarter %>
</p>

<p>
  <strong>Year:</strong>
  <%= @section.year %>
</p>

<p>
  <strong>Day:</strong>
  <%= @section.day %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @section.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @section.end_time %>
</p>

<p>
  <strong>Phase 1 enrollment:</strong>
  <%= @section.phase_1_enrollment %>
</p>

<p>
  <strong>Phase 1 seats available:</strong>
  <%= @section.phase_1_seats_available %>
</p>

<p>
  <strong>Phase 1 price:</strong>
  <%= @section.phase_1_price %>
</p>

<p>
  <strong>Phase 2 enrollment:</strong>
  <%= @section.phase_2_enrollment %>
</p>

<p>
  <strong>Phase 2 price:</strong>
  <%= @section.phase_2_price %>
</p>

<p>
  <strong>Phase 3 enrollment:</strong>
  <%= @section.phase_3_enrollment %>
</p>

<p>
  <strong>Phase 3 seats available:</strong>
  <%= @section.phase_3_seats_available %>
</p>

<p>
  <strong>Phase 3 price:</strong>
  <%= @section.phase_3_price %>
</p>

<p>
  <strong>Phase 4 enrollment:</strong>
  <%= @section.phase_4_enrollment %>
</p>

<p>
  <strong>Phase 4 seats available:</strong>
  <%= @section.phase_4_seats_available %>
</p>

<p>
  <strong>Phase 4 price:</strong>
  <%= @section.phase_4_price %>
</p>

<p>
  <strong>Enrl:</strong>
  <%= @section.enrl %>
</p>

<p>
  <strong>Num responses:</strong>
  <%= @section.num_responses %>
</p>

<p>
  <strong>Percent responded:</strong>
  <%= @section.percent_responded %>
</p>

<p>
  <strong>Hours per week:</strong>
  <%= @section.hours_per_week %>
</p>

<p>
  <strong>Clear:</strong>
  <%= @section.clear %>
</p>

<p>
  <strong>Interesting:</strong>
  <%= @section.interesting %>
</p>

<p>
  <strong>Useful:</strong>
  <%= @section.useful %>
</p>

<p>
  <strong>Overall:</strong>
  <%= @section.overall %>
</p>

<p>
  <strong>recommend:</strong>
  <%= @section.recommend %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
