<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @taught_by.course_id %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @taught_by.instructor_id %>
</p>

<%= link_to 'Edit', edit_taught_by_path(@taught_by) %> |
<%= link_to 'Back', taught_bies_path %>
