<%= form_with(model: eval, local: true) do |form| %>
  <% if eval.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(eval.errors.count, "error") %> prohibited this eval from being saved:</h2>

      <ul>
      <% eval.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :taught_by_id %>
    <%= form.number_field :taught_by_id %>
  </div>

  <div class="field">
    <%= form.label :quarter %>
    <%= form.text_field :quarter %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>

  <div class="field">
    <%= form.label :enrl %>
    <%= form.number_field :enrl %>
  </div>

  <div class="field">
    <%= form.label :num_responses %>
    <%= form.number_field :num_responses %>
  </div>

  <div class="field">
    <%= form.label :percent_responded %>
    <%= form.number_field :percent_responded %>
  </div>

  <div class="field">
    <%= form.label :hours_per_week %>
    <%= form.text_field :hours_per_week %>
  </div>

  <div class="field">
    <%= form.label :clear %>
    <%= form.text_field :clear %>
  </div>

  <div class="field">
    <%= form.label :interesting %>
    <%= form.text_field :interesting %>
  </div>

  <div class="field">
    <%= form.label :useful %>
    <%= form.text_field :useful %>
  </div>

  <div class="field">
    <%= form.label :overall %>
    <%= form.text_field :overall %>
  </div>

  <div class="field">
    <%= form.label :reccommend %>
    <%= form.text_field :reccommend %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
