<p id="notice"><%= notice %></p>

<h1>Evals</h1>

<table>
  <thead>
    <tr>
      <th>Taught by</th>
      <th>Section</th>
      <th>Quarter</th>
      <th>Year</th>
      <th>Enrl</th>
      <th>Num responses</th>
      <th>Percent responded</th>
      <th>Hours per week</th>
      <th>Clear</th>
      <th>Interesting</th>
      <th>Useful</th>
      <th>Overall</th>
      <th>Reccommend</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evals.each do |eval| %>
      <tr>
        <td><%= eval.taught_by_id %></td>
        <td><%= eval.section %></td>
        <td><%= eval.quarter %></td>
        <td><%= eval.year %></td>
        <td><%= eval.enrl %></td>
        <td><%= eval.num_responses %></td>
        <td><%= eval.percent_responded %></td>
        <td><%= eval.hours_per_week %></td>
        <td><%= eval.clear %></td>
        <td><%= eval.interesting %></td>
        <td><%= eval.useful %></td>
        <td><%= eval.overall %></td>
        <td><%= eval.reccommend %></td>
        <td><%= link_to 'Show', eval %></td>
        <td><%= link_to 'Edit', edit_eval_path(eval) %></td>
        <td><%= link_to 'Destroy', eval, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eval', new_eval_path %>
