<p id="notice"><%= notice %></p>

<p>
  <strong>Taught by:</strong>
  <%= @eval.taught_by_id %>
</p>

<p>
  <strong>Quarter:</strong>
  <%= @eval.quarter %>
</p>

<p>
  <strong>Year:</strong>
  <%= @eval.year %>
</p>

<p>
  <strong>Enrl:</strong>
  <%= @eval.enrl %>
</p>

<p>
  <strong>Num responses:</strong>
  <%= @eval.num_responses %>
</p>

<p>
  <strong>Percent responded:</strong>
  <%= @eval.percent_responded %>
</p>

<p>
  <strong>Hours per week:</strong>
  <%= @eval.hours_per_week %>
</p>

<p>
  <strong>Clear:</strong>
  <%= @eval.clear %>
</p>

<p>
  <strong>Interesting:</strong>
  <%= @eval.interesting %>
</p>

<p>
  <strong>Useful:</strong>
  <%= @eval.useful %>
</p>

<p>
  <strong>Overall:</strong>
  <%= @eval.overall %>
</p>

<p>
  <strong>Reccommend:</strong>
  <%= @eval.reccommend %>
</p>

<%= link_to 'Edit', edit_eval_path(@eval) %> |
<%= link_to 'Back', evals_path %>
